<app-header></app-header>
<div class="container">
    <form [formGroup]="formEdit" (ngSubmit)="submitForm()">
        <div class="card create-product-card">
            <div class="card-header">
                <h1>Formulario de Edición</h1>
            </div>

            <div class="card-body">
                <div class="form-group">
                    <div class="field-group">
                        <label for="id" class="bold-label">ID</label>
                        <input type="text" id="id" formControlName="id" class="large-input">
                    </div>

                    <div class="field-group">
                        <label for="name" class="bold-label">Nombre</label>
                        <input type="text" id="name" formControlName="name" class="large-input"
                            [ngClass]="{ 'is-invalid': formEdit.get('name')?.invalid && (formEdit.get('name')?.dirty || formEdit.get('name')?.touched) }">
                        <div *ngIf="formEdit.get('name')?.invalid && (formEdit.get('name')?.dirty || formEdit.get('name')?.touched)"
                            class="invalid-feedback">
                            <div *ngIf="formEdit.get('name')?.errors?.['required']">Campo obligatorio</div>
                            <div *ngIf="formEdit.get('name')?.errors?.['minlength']">La longitud mínima es de 5
                                caracteres</div>
                            <div *ngIf="formEdit.get('name')?.errors?.['maxlength']">La longitud máxima es de 100
                                caracteres</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="field-group">
                        <label for="description" class="bold-label">Descripción</label>
                        <input id="description" formControlName="description" class="large-input"
                            [ngClass]="{ 'is-invalid': formEdit.get('description')?.invalid && (formEdit.get('description')?.dirty || formEdit.get('description')?.touched) }">
                        <div *ngIf="formEdit.get('description')?.invalid && (formEdit.get('description')?.dirty || formEdit.get('description')?.touched)"
                            class="invalid-feedback">
                            <div *ngIf="formEdit.get('description')?.errors?.['required']">Campo obligatorio</div>
                            <div *ngIf="formEdit.get('description')?.errors?.['minlength']">La longitud mínima es de
                                10 caracteres</div>
                            <div *ngIf="formEdit.get('description')?.errors?.['maxlength']">La longitud máxima es de
                                200 caracteres</div>
                        </div>
                    </div>

                    <div class="field-group">
                        <label for="logo" class="bold-label">Logo</label>
                        <input type="text" id="logo" formControlName="logo" class="large-input"
                            [ngClass]="{ 'is-invalid': formEdit.get('logo')?.invalid && (formEdit.get('logo')?.dirty || formEdit.get('logo')?.touched) }">
                        <div *ngIf="formEdit.get('logo')?.invalid && (formEdit.get('logo')?.dirty || formEdit.get('logo')?.touched)"
                            class="invalid-feedback">
                            <div *ngIf="formEdit.get('logo')?.errors?.['required']">Campo obligatorio</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="field-group">
                        <label for="date_release" class="bold-label">Fecha Liberación</label>
                        <input type="date" id="date_release" formControlName="date_release" class="large-input"
                            (change)="calculateRevisionDate()"
                            [ngClass]="{ 'is-invalid': formEdit.get('date_release')?.invalid && (formEdit.get('date_release')?.dirty || formEdit.get('date_release')?.touched) }">
                        <div *ngIf="formEdit.get('date_release')?.invalid && (formEdit.get('date_release')?.dirty || formEdit.get('date_release')?.touched)"
                            class="invalid-feedback">
                            <div *ngIf="formEdit.get('date_release')?.errors?.['required']">Campo obligatorio</div>
                            <div *ngIf="formEdit.get('date_release')?.errors?.['invalidReleaseDate']">La fecha debe
                                ser mayor o igual a la fecha actual</div>
                        </div>
                    </div>

                    <div class="field-group">
                        <label for="revisionDate" class="bold-label">Fecha Revisión</label>
                        <input type="date" id="revisionDate" formControlName="revisionDate" class="large-input">
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" [disabled]="formEdit.invalid" class="send-button">Actualizar</button>
            </div>
        </div>
    </form>
</div>